<!-- 마니또 편지 모달 시작 -->
<div class="manito-letter-modal" id="manitoLetterModalBackground" th:fragment="manito-letter-modal">
  <div
      class="manito-letter-modal-container"
      id="manitoLetterModalContainer"
  >
    <div class="send-letter-title">
      <p><span class="user-name">beer_lover</span> 에게 답장 보내기</p>
      <img
          class="tiny-icons"
          id="closeManitoLetterModalBtn"
          th:src="@{/images/icons/icon-cancel.png}"
          alt="close icon"
      />
    </div>
    <div class="manito-letter-content-container">
      <div class="manito-letter-content">
        <div class="manito-letter-text-container">
          <p class="manito-letter-text">
            많이 힘드셨나봐요,,, 회사 엄청 힘들죠 저도 오늘 엄청
            깨졌답니다ㅠㅠ 세상 사는 거 다 똑같네요 같이 힘내요!<br/>
            그런데 맨날 맥주 드시는 것 같은데 아무리 맥주 좋아하셔도
            건강을 위해서 조금은 자제하시는 게 어떨까요?😣<br/>
            저도 술 엄청 좋아했는데 일주일에 몇 번 정도 제한 두는 식으로
            노력해서 성공적으로 줄였어요ㅎㅎ<br/>
            알콜이 숙면에도 나쁘거든요 피곤하고 힘들 수록 건강관리 잘
            해주셔야 오래 갈 수 있어요!!<br/>
            안 아픈 게 제일이지 않겠어요? 그냥 그렇다구요,,, 맥주러버님
            오늘 처음 봤지만 오래오래 보고 싶네요ㅎ<br/>
            내일도 화이팅입니다!!😲
          </p>
          <p class="ai-post-comment">
            AI : 따뜻한 공감과 격려, 건강에 대한 조언까지! 아주 좋은
            답변인 것 같아요! 이대로 보내볼까요?
          </p>
        </div>
      </div>
    </div>
    <div class="manito-recommend-music">
      <div class="recommend-music">
        <img
            class="tiny-icons-linkless"
            th:src="@{/images/icons/icon-music.png}"
            alt="music icon"
        />
        <span>추천하는 음악</span>
      </div>
      <p class="music-link">
        <a href="https://youtu.be/k4V3Mo61fJM?si=yZNgNJ6Fzqp0Z2pz"
        >https://youtu.be/k4V3Mo61fJM?si=yZNgNJ6Fzqp0Z2pz</a
        >
      </p>
    </div>
    <p class="manito-music-comment">
      저도 이 음악에 위로 많이 받아서 추천드립니다!
    </p>
    <div class="send-letter-button-container">
      <button class="send-letter-button">전송하기</button>
    </div>
  </div>
</div>
<!-- 마니또 편지 모달  -->