<!-- 마니또 편지 모달 시작 -->
<div class="manito-letter-modal" id="manitoLetterModalBackground" th:fragment="manito-letter-modal(recipient)">
  <form
      class="manito-letter-modal-container"
      id="manitoLetterModalContainer"
  >
    <div class="send-letter-title">
      <!-- todaysPost가 null일 수 있으므로 조건부 렌더링 추가 -->
      <p th:if="${todaysPost != null}">
        <span class="user-name" th:text="${todaysPost.nickName}">beer_lover</span> 에게 편지 보내기
      </p>
      <p th:unless="${todaysPost != null}">편지 보내기</p>
      <img
          class="tiny-icons"
          id="closeManitoLetterModalBtn"
          th:src="@{/images/icons/icon-cancel.png}"
          alt="close icon"
      />
    </div>
    <div class="manito-letter-content-container">
      <div class="manito-letter-content">
        <div class="manito-letter-text-container">
          <label for="manito-letter-text-input"></label>
          <textarea class="manito-letter-text" id="manito-letter-text-input"
                    placeholder="따뜻한 공감과 격려를 보내주세요. 초면의 상대에게는 예의를 갖춰 존댓말을 사용해주세요. 모든 마니또 편지는 익명처리 되며 부적절한 내용 혹은 링크가 포함될 시 커뮤니티 이용 약관 및 관련 법령에 따라 조치될 수 있습니다."
                    maxlength="500"></textarea>
        </div>
      </div>
    </div>
    <div class="manito-recommend-music">
      <div class="recommend-music">
        <img
            class="tiny-icons-linkless"
            th:src="@{/images/icons/icon-music.png}"
            alt="music icon"
        />
        <p>추천하는 음악</p>
      </div>
      <label for="music-link-input"></label>
      <input class="music-link" id="music-link-input" type="url"
             placeholder="여기에 추천하는 음악이 메인으로 담긴 유튜브 url(링크)만 입력해주세요." maxlength="200"/>
    </div>
    <label for="manito-music-comment-input"></label>
    <textarea class="manito-music-comment" id="manito-music-comment-input"
              placeholder="이 음악을 추천하는 이유를 간단히 입력해주세요." maxlength="100"></textarea>
    <div class="send-letter-button-container">
      <button class="send-letter-button">전송하기</button>
    </div>
  </form>
</div>
<!-- 마니또 편지 모달  -->