<!-- 마니또 편지 답장 모달 시작-->
<div
    class="manito-letter-reply-modal"
    id="manitoLetterReplyModalBackground"
    th:fragment="manito-letter-reply-modal">
  <div
      class="manito-letter-reply-modal-container"
      id="manitoLetterReplyModalContainer"
  >
    <div class="send-letter-reply-title">
      <p><span>마니또</span>에게 답장 보내기</p>
      <img
          class="tiny-icons"
          id="closeManitoLetterReplyModalBtn"
          th:src="@{/images/icons/icon-cancel.png}"
          alt="close icon"
      />
    </div>
    <div class="manito-letter-reply-content-container">
        <div class="manito-letter-reply-text-container">
          <label for="manito-letter-reply-input"></label>
          <textarea class="manito-letter-reply-text" id="manito-letter-reply-input" placeholder="마니또에게 보낼 답장을 입력해주세요." maxlength="500"></textarea>
        </div>
    </div>
    <div class="send-letter-reply-button-container">
      <button class="send-letter-reply-button">전송하기</button>
    </div>
  </div>
</div>
<!-- 마니또 편지 답장 모달 끝-->