<!-- 내가 보낸 답장 모달 시작-->
<div
    class="manito-letter-reply-modal"
    id="manitoLetterReplyModalBackground"
    th:fragment="manito-letter-reply-sent-modal"
>
  <div
      class="manito-letter-reply-modal-container"
      id="manitoLetterReplyModalContainer"
  >
    <div class="send-letter-reply-title">
      <p>내가 보낸 답장</p>
      <img
          class="tiny-icons"
          id="closeManitoLetterReplyModalBtn"
          th:src="@{/images/icons/icon-cancel.png}"
          alt="close icon"
      />
    </div>
    <div class="manito-letter-reply-content-container">
      <div class="manito-letter-reply-content">
        <div class="manito-letter-reply-text-container">
          <p class="manito-letter-reply-text">
            아 ㅋㅋㅋ 걱정 감사합니다!<br/>
            근데 제가 이미 맥주와 영혼이 하나가 되어서 맥주 없이는
            살 수 없을 것 같습니다!!<br/>
            그래도 운동이랑 식단 조절로 열심히 살아보고 있으니
            괜찮을 거라고 생각합니다 ㅋㅋ<br/>
            추천해주신 음악 너무 좋네요. 하루의 피로가 싹
            날아갑니다.<br/>
            마니또 님도 건강하시고 좋은 하루 되십쇼!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 내가 보낸 답장 모달 끝-->