<!-- 새 게시물 작성 모달 시작-->
<div
  class="new-post-form-modal"
  id="newPostFormModalBackground"
  th:fragment="new-post-modal"
>
  <form
    class="new-post-form-modal-container"
    id="newPostFormModalContainer"
    action="/api/post"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="new-post-title">
      <p>새 게시물 작성</p>
      <img
        class="tiny-icons"
        id="closePostFormModalBtn"
        th:src="@{/images/icons/icon-cancel.png}"
        alt="close icon"
      />
    </div>

    <div class="new-post-content-container">
      <div class="new-post-content">
        <img
          class="user-photo"
          th:src="@{${user.profileImage}}"
          alt="user icon"
        />
        <div class="new-post-text-container">
          <textarea
            name="content"
            id="new-post-content"
            class="new-post-text"
            placeholder="나누고 싶은 글을 작성해주세요"
          ></textarea>
          <p class="letter-count" id="count500">500/500</p>
        </div>
      </div>

      <div id="ai-feedback-container" style="display: none">
        <p id="ai-feedback-content"></p>
      </div>

      <div
        class="manito-response-toggle"
        onclick="toggleManito(this, 'response')"
      >
        <img
          class="tiny-icons"
          th:src="@{/images/icons/icon-check-empty.png}"
          alt="check icon"
          data-checked-src="@{/images/icons/icon-check.png}"
          data-unchecked-src="@{/images/icons/icon-check-empty.png}"
        />
        <p>이 게시물에 대해 마니또의 답변을 받습니다.</p>
      </div>

      <div
        class="ai-response-toggle"
        onclick="togglesAIFeedback(this, 'response')"
        style="opacity: 0.3"
      >
        <img
          class="tiny-icons"
          th:src="@{/images/icons/icon-check-empty.png}"
          alt="check icon"
          data-checked-src="@{/images/icons/icon-check.png}"
          data-unchecked-src="@{/images/icons/icon-check-empty.png}"
        />
        <p>이 게시물에 대해 AI의 피드백을 받습니다.</p>
      </div>
    </div>

    <div class="post-button-container">
      <input
        type="file"
        id="image-upload-btn"
        name="images"
        accept="image/jpeg, image/png"
        multiple
        onchange="countImages(this)"
        style="display: none"
      />
      <img
        class="tiny-icons"
        th:src="@{/images/icons/icon-image2.png}"
        alt="add image icon"
        onclick="document.getElementById('image-upload-btn').click()"
      />
      <button class="post-button" type="button" onclick="onPostSubmit()">
        게시하기
      </button>
    </div>
  </form>
</div>
<!-- 새 게시물 작성 모달 끝-->
