<!-- 새 게시물 작성 모달 시작-->
<div
  class="new-post-form-modal"
  id="newPostFormModalBackground"
  th:fragment="new-post-modal"
>
  <div class="new-post-form-modal-container" id="newPostFormModalContainer">
    <div class="new-post-title">
      <p>새 게시물 작성</p>
      <img
        class="tiny-icons"
        id="closePostFormModalBtn"
        th:src="@{/images/icons/icon-cancel.png}"
        alt="close icon"
      />
    </div>
    <div class="new-post-content-container">
      <div class="new-post-content">
        <img
          class="user-photo"
          th:src="@{/images/icons/UI-user2.png}"
          alt="user icon"
        />
        <div class="new-post-text-container">
          <textarea
            name="content"
            id="new-post-content"
            class="new-post-text"
            placeholder="나누고 싶은 글을 작성해주세요"
            rows="10"
            cols="30"
            style="resize: none"
          ></textarea>
          <p class="ai-post-comment">
            AI: 내용이 반복적이거나 무의미한 것 같아요.<br />마니또와 소통하기
            위해 조금 더 자신만의 이야기를 담아보면 어떨까요?
          </p>
        </div>
      </div>
      <div
        class="manito-response-toggle"
        onclick="toggleManito(this, 'response')"
      >
        <img
          class="tiny-icons"
          th:src="@{/images/icons/icon-check-empty.png}"
          alt="check icon`"
          data-checked-src="@{/images/icons/icon-check.png}"
          data-unchecked-src="@{/images/icons/icon-check-empty.png}"
        />
        <p>이 게시물에 대해 마니또의 답변을 받습니다.</p>
      </div>
    </div>
    <div class="post-button-container">
      <img
        class="tiny-icons"
        th:src="@{/images/icons/icon-image2.png}"
        alt="add image icon"
      />
      <button class="post-button">게시하기</button>
    </div>
  </div>
</div>
<!-- 새 게시물 작성 모달 끝-->
