<section class="notification-section" th:fragment="notification">
  <div th:each="notification : ${notifications}" class="notification-container">
    <img class="user-photo"
         th:if="${notification.user != null and notification.user.profileImage != null}"
         th:src="${notification.user.profileImage}"
         alt="user icon"/>
    <div class="notification-content">
              <span class="notification-description"
                    th:text="${notification.content}">
                </span>
      <span class="passed-time"
            th:text="${notification.timeDifference}"></span>
    </div>
  </div>
</section>