<nav class="nav-container" th:fragment="adminNav">
  <h1>ManiToOne</h1>
  <div class="UI-icon-logo">
    <a class="home-link" href="/admin"
    ><img th:src="@{/images/logo/logo.png}" alt="home"
    /></a>
  </div>
  <nav>
    <ul>
      <li class="UI-icon-list">
        <a href="/admin/users">
          <button
          ><img class="admin-user-image" th:src="@{/images/icons/UI-user2.png}" alt="users"
          /></button>
        </a>
      </li>
      <li class="UI-icon-list">
        <a href="/admin/posts">
          <button>
            <img class="admin-post-image"
                 th:src="@{/images/icons/icon-article.png}"
                 alt="articles"
            /></button>
        </a>
      </li>
      <li class="UI-icon-list">
        <a href="/admin/reports">
          <button
          ><img
              class="admin-report-image"
              th:src="@{/images/icons/icon-report.png}" alt="report"
          /></button>
        </a>
      </li>
      <li class="UI-icon-list">
        <a href="/admin/manito/reports">
          <button
          ><img
              class="admin-manito-report-image"
              th:src="@{/images/icons/icon-clover2.png}" alt="monito"
          /></button>
        </a>
      </li>
    </ul>
  </nav>
</nav>