<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="user-nickname" th:content="${userNickname}" />
    <link rel="stylesheet" th:href="@{/style/reset.css}" />
    <link rel="stylesheet" th:href="@{/style/common.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/images/favicon/favicon.ico}"
    />
    <title>ManiToOne</title>
  </head>
  <body>
    <header th:replace="~{fragments/common/header :: header}"></header>
    <main class="main-container">
      <section class="middle-section" id="middleSection">
        <section class="timeline-section">
          <div class="timeline">
            <!--게시글-->
            <div class="post-container">
              <img
                class="user-photo"
                th:src="@{/images/profileImage/{fileName}(fileName=${post.user.profileImage})}"
                alt="user icon"
              />
              <div class="post-content">
                <div class="user-info">
                  <span
                    class="user-name"
                    th:text="${post.user.nickname}"
                  ></span>
                  <span
                    class="passed-time"
                    th:text="${post.updatedAt != null ? #strings.concat(#temporals.format(post.updatedAt, 'mm'), '분') : #strings.concat(#temporals.format(post.createdAt, 'mm'), '분')}"
                  ></span>
                </div>
                <p class="content-text" th:text="${post.content}"></p>
                <img
                  class="post-image"
                  th:src="@{/images/image-beer.webp}"
                  alt="beer image"
                />
                <p
                  class="post-time"
                  th:text="${post.updatedAt != null ? #temporals.format(post.updatedAt, 'yyyy년 MM월 dd일 a hh시 mm분') : #temporals.format(post.createdAt, 'yyyy년 MM월 dd일 a hh시 mm분')}"
                ></p>
                <div class="reaction-icons">
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-clover2.png}"
                    alt="I like this"
                  />
                  <span class="like-count" th:text="${postLikesNum}"></span>
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-comment2.png}"
                    alt="add reply"
                  />
                  <span class="reply-count" th:text="${postRepliesNum}"></span>
                </div>
              </div>
              <div class="option-icons">
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/UI-more2.png}"
                  alt="more options"
                />
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/icon-add-friend.png}"
                  alt="add friend"
                />
              </div>
            </div>

            <!--답글-->
            <div class="post-container">
              <img
                class="user-photo"
                th:src="@{/images/profileImage/{fileName}(fileName=${reply.user.profileImage})}"
                alt="user icon"
              />
              <div class="post-content">
                <div class="user-info">
                  <span
                    class="user-name"
                    th:text="${reply.user.nickname}"
                  ></span>
                  <span
                    class="passed-time"
                    th:text="${#temporals.format(reply.createdAt, 'mm분')}"
                  ></span>
                </div>
                <p class="content-text" th:text="${reply.content}"></p>
                <div class="reaction-icons">
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-clover2.png}"
                    alt="I like this"
                  />
                  <span class="like-count">0</span>
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-comment2.png}"
                    alt="add reply"
                  />
                  <span
                    class="reply-count"
                    th:text="${reply.rerepliesNumber}"
                  ></span>
                </div>
              </div>
              <div class="option-icons">
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/UI-more2.png}"
                  alt="more options"
                />
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/icon-add-friend.png}"
                  alt="add friend"
                />
              </div>
            </div>

            <div class="reply-devider">
              <p class="reply-devider-text">답글</p>
            </div>

            <!--답글의 답글-->
            <div class="post-container" th:each="rereply : ${rereplies}">
              <img
                class="user-photo"
                th:src="@{/images/profileImage/{fileName}(fileName=${rereply.user.profileImage})}"
                alt="user icon"
              />
              <div class="post-content">
                <div class="user-info">
                  <span
                    class="user-name"
                    th:text="${rereply.user.nickname}"
                  ></span>
                  <span
                    class="passed-time"
                    th:text="${#temporals.format(rereply.createdAt, 'mm분')}"
                  ></span>
                </div>
                <p class="content-text" th:text="${rereply.content}"></p>
                <div class="reaction-icons">
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-clover2.png}"
                    alt="I like this"
                  />
                  <span class="like-count">0</span>
                  <img
                    class="tiny-icons"
                    th:src="@{/images/icons/icon-comment2.png}"
                    alt="add reply"
                  />
                  <span
                    class="reply-count"
                    th:text="${rereply.rerepliesNumber}"
                  ></span>
                </div>
              </div>
              <div class="option-icons">
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/UI-more2.png}"
                  alt="more options"
                />
                <img
                  class="tiny-icons"
                  th:src="@{/images/icons/icon-add-friend.png}"
                  alt="add friend"
                />
              </div>
            </div>
          </div>
        </section>
      </section>
      <article
        th:replace="~{fragments/common/right-section :: right-section}"
      ></article>
    </main>
    <script th:src="@{/script/common.js}"></script>
    <script th:src="@{/script/post.js}"></script>
  </body>
</html>
