.table-container {
  width: 1700px;
  margin: 0 auto;
  border-collapse: collapse;
}
.table-container th, .table-container td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  height: 55px;
}
.table-container th {
  background-color: #f9f9f9;
}
.table-container tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #f0f0f0;
}