.name-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-input {
  all: unset;
  background-color: #dae0da;
  padding: 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
}