.search-results {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 200px; /* 필요에 따라 조정 */
  overflow-y: auto; /* 스크롤 가능 */
  border: none;
  background-color: #f3f3f3;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 2px rgba(171, 171, 171, 0.25);
  display: none;
  flex-direction: column;
  gap: 3px;
  margin-top: 15px;
  left: 0px;
}

.search-results .result-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  padding-left: 18px;
  cursor: pointer;
}

.user-search-photo {
  width: 2rem;
  height: 2rem;
}

.search-results .result-item:hover {
  background-color: #f0f0f0;
}

.no-results {
  padding: 10px;
  padding-left: 18px;
}

.search-loading {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-message {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-search-photo {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}