<!--마니또 편지함-->
<section class="manito-letter-box-section" th:fragment="manito-letter-box">
  <div class="manito-letter-box-title">
            <span
            ><img
                th:src="@{/images/icons/icon-email.png}"
                alt="letter icon"/></span
            >마니또 편지함<img
      th:src="@{/images/icons/icon-email.png}"
      alt="letter icon"
  />
  </div>
  <div class="manito-letter-box-container">
    <div class="manito-letter-box-switch">
      <button class="received-letter-box" id="receivedLettetBox">
        받은 편지함
      </button>
      <button class="sent-letter-box" id="sentLetterBox">
        보낸 편지함
      </button>
    </div>
    <div class="manito-letter-box-content">
    </div>
  </div>
</section>