<!--우측 메뉴 : 마니또 편지함 페이지 완성되고 난 이후에 링크 구현-->
<article class="article-container" th:fragment="right-section">
  <section class="search-section">
    <form action="">
      <div class="search-input-container">
        <img
            class="tiny-icons-linkless"
            th:src="@{/images/icons/icon-search.png}"
            alt="search icon"
        />
        <div class="user-search-box">
          <input
              type="text"
              name=""
              id="search-input"
              placeholder="새로운 인연을 찾아보세요!"
              aria-label="검색"
          />
          <div id="search-results" class="search-results">
            <div id="search-loading" class="search-loading"></div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section id="ai-suggestion-section" class="ai-suggestion-section">
    <div class="ai-comment" id="ai-comment">
      <h2>AI의 피드백</h2>
      <p id="ai-feedback-text" class="ai-feedback-text"></p>
    </div>
    <div class="ai-music-suggestion" id="ai-music-section">
      <h3>
      <span>
        <img
            class="tiny-icons-linkless"
            src="/images/icons/icon-music.png"
            alt="music icon"
        />
      </span>
        추천하는 음악
      </h3>
      <p class="music-title" id="music-title"></p>
      <p class="music-link" id="music-link"></p>
    </div>
  </section>
  <section class="manito-letter-section">
    <div class="manito-letter-container">
      <h2>마니또 편지함</h2>
      <div class="received-letter">
        <h3>
          <img
              class="tiny-icons-linkless"
              th:src="@{/images/icons/icon-email.png}"
              alt="letter icon"
          /><span>
                  <a style="cursor: pointer">받은 편지함</a></span
        >
        </h3>
        <ul>
        </ul>
      </div>
      <div class="sent-letter">
        <h3>
          <img
              class="tiny-icons-linkless"
              th:src="@{/images/icons/icon-email.png}"
              alt="letter icon"
          /><span>
                  <a style="cursor: pointer">보낸 편지함</a></span
        >
        </h3>
        <ul>
        </ul>
      </div>
    </div>
  </section>
  <link rel="stylesheet" th:href="@{/style/userSearch.css}"/>
  <script th:src="@{/script/userSearch.js}"></script>
  <script th:src="@{/script/aipost.js}"></script>
</article>