<!--헤더, 우측 메뉴는 고정으로 페이지 자체가 넘어가는 것이 아니면 그 외의 화면 요소만 fragment로 로드합니다.-->
<!--fragments/common -> 자잘히 쪼개진 공통 요소들-->
<!--fragments/content -> 유사 페이지. 헤더, 우측 메뉴를 제외한 중앙 섹션 컨텐츠-->
<!--fragments/modals -> 모달창 요소-->
<!--pages/auth -> 로그인, 회원가입 페이지-->
<!--페이지 자체가 따로 필요한 경우 pages에 추가해주시고-->
<!--피그마 기반으로 기본 틀만 구성한 거라 없는 부분도 많고 기능은 다 빠져 있으니 자유롭게 추가/수정하십쇼-->
<!--미구현 : 답글 모달, 관리자 페이지, 탭메뉴 이동, 더보기 메뉴, 게시물 상세로 이동하는 기능 등-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/style/reset.css}"/>
  <link rel="stylesheet" th:href="@{/style/common.css}"/>
  <link rel="stylesheet" th:href="@{/style/profile.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
  />
  <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/images/favicon/favicon.ico}"
  />
  <script th:inline="javascript">
    var userNickName = /*[[${user.nickname}]]*/ '테스트1';
  </script>
  <script th:src="@{/script/profile.js}"></script>
  <title>ManiToOne</title>
</head>
<body>
<header th:replace="fragments/common/header :: header"></header>
<main class="main-container">
  <section class="middle-section" id="middleSection">
    <section class="mypage-section" th:fragment="mypage">
      <div class="profile-container">
        <div class="profile-title">프로필</div>
        <div class="profile-content">
          <div class="profile-user-info">
            <div class="user-name-box">
              <p class="user-name" th:text="${user.getName()}">이름</p>
              <p class="user-nickname" th:text="${user.getNickname()}">닉네임</p>
            </div>
            <p class="user-introduce" th:text="${user.getIntroduce()}">소개</p>
            <p class="follower-count">팔로워 [[${user.getFollowings().size()}]]명</p>
          </div>
          <div class="profile-user-photo">
            <img
                class="user-photo"
                th:src="@{/images/icons/UI-user2.png}"
                alt="user icon"
            />
          </div>
        </div>
        <button class="profile-update-button" id="openProfileUpdateBtn">
          프로필 수정
        </button>
      </div>
      <div class="mypage-menu-switch">
        <button class="my-post-menu-switch">내 피드</button>
        <button class="like-it-menu-switch">좋아요 누른 피드</button>
        <button class="hidden-post-menu-switch">숨긴 피드</button>
      </div>
      <div class="new-post-form">
        <img
            class="user-photo"
            th:src="@{/images/icons/UI-user2.png}"
            alt="user icon"
        />
        <p id="openPostFormModalBtn">함께 나누고픈 감정이 있나요?</p>
      </div>
      <div th:replace="fragments/modals/profile-update-modal :: profile-update-modal"></div>
      <div th:replace="fragments/modals/new-post-modal :: new-post-modal"></div>
      <!--작성 시간, 답글 보이지 않는 가장 기본 게시글 덩어리-->
      <div id="postsContainer" class="posts-container">

      </div>
    </section>
  </section>
  <article
      th:replace="fragments/common/right-section :: right-section"
  ></article>
</main>
<script th:src="@{/script/common.js}"></script>
</body>
</html>
