<div class="post-modal" id="postModal" th:fragment="post-modal">
  <div class="profile-content-container">
    <!-- 프로필 이미지 -->
    <img class="profile-image" src="/images/icons/UI-user2.png" alt="프로필 이미지"/>
    <div class="profile-text-container">
      <!-- 아이디와 시간 -->
      <div class="profile-header">
        <div class="nickname-time-box">
        <span class="user-id"></span>
        <span class="post-time"></span>
        </div>
        <img
            class="tiny-icons"
            id="closeProfileUpdateBtn"
            th:src="@{/images/icons/icon-cancel.png}"
            alt="close icon"
        />
      </div>
      <!-- 내용 -->
      <div class="post-content">
      </div>
    </div>
  </div>
  <div class="image-slider">
    <button class="slider-btn prev-btn" id="prevBtn" style="display: none;">&lt;</button>
    <div class="image-container" id="imageContainer"></div>
    <button class="slider-btn next-btn" id="nextBtn" style="display: none;">&gt;</button>
  </div>
</div>