<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/style/reset.css}"/>
  <link rel="stylesheet" th:href="@{/style/common.css}"/>
  <link rel="stylesheet" th:href="@{/style/email-auth.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
  <title>ManiToOne</title>
</head>
<body>
<section class="email-auth-section">
  <div class="logo-box">
    <img th:src="@{/images/logo/long-logo.png}" alt="ManiToOne logo"/>
  </div>
  <p class="email-auth-discription">
    회원가입에 사용할 이메일을 입력하여 인증해주세요.<br/>
    메일은 3분 내로 전송됩니다 :)
  </p>
  <div class="email-auth-container">
    <form id="emailInputForm" th:action="@{/api/email-auth}" method="post">
      <div class="email-auth-input-container">
        <input
            class="email-auth-number-input"
            type="text"
            name="email"
            id="email"
            placeholder="이메일 입력"
            aria-label="이메일 입력"
            required
        />
        <button class="sign-up-complete-button" type="submit">메일 인증하기</button>
      </div>
    </form>
  </div>
</section>

<section class="email-verify-section">
  <div id="modalOverlay" class="modal-overlay">
    <div id="emailAuthModal" class="modal">
      <div class="modal-container">
        <span class="close-button">&times;</span>
        <div class="logo-box">
          <img th:src="@{/images/logo/long-logo.png}" alt="ManiToOne logo"/>
        </div>
        <p class="email-verify-description">
          해당 이메일로 전송된 인증번호를 입력하세요.
        </p>
        <form class="email-verify-input-container" id="authCodeForm" th:action="@{/api/email-check}"
              method="post">
          <input
              class="email-verify-number-input"
              type="text"
              id="authCode"
              name="authCode"
              placeholder="인증번호 입력"
              required
          />
          <button type="submit" class="verify-auth-code-button">
            인증하기
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById('emailInputForm').addEventListener('submit', function (event) {
    event.preventDefault(); // 빈 값 제출 불가

    const emailInput = document.getElementById('email').value;

    if (!emailInput) {
      alert('이메일을 입력해주세요.');
      return;
    }

    // 유효성 검사
    const emailValidate = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailValidate.test(emailInput)) {
      alert('올바른 이메일 주소를 입력해주세요.');
      return;
    }

    // 메일 전송
    fetch('/api/email-validate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({email: emailInput}),
    })
    .then(response => response.text())
    .then(data => {
      if (data) {
        alert(`${emailInput}으로 메일을 전송했습니다.`)
        document.getElementById('emailAuthModal').style.display = 'block';
        document.getElementById('modalOverlay').style.display = 'block';
      } else {
        alert('메일 전송에 실패했습니다 : ' + data);
      }
    })
    .catch(error => {
      console.error('Error: ', error.message);
      alert('메일 전송 중 문제가 발생했습니다.');
    });
  });

  document.getElementById('emailAuthModal').addEventListener('submit', function (event) {
    event.preventDefault();

    const authCode = document.getElementById('authCode').value;
    const emailInput = document.getElementById('email').value;

    if (!authCode) {
      alert('인증번호를 입력해주세요.')
      return;
    }
    // 인증번호 확인 요청
    fetch('/api/email-check', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        email: emailInput,
        verificationCode: parseInt(authCode, 10),
      }),
    })
    .then(response => response.text())
    .then(data => {
      if (data) {
        alert('이메일 인증이 완료되었습니다!');
        window.location.href = '/register-info';
      } else {
        alert('인증 실패: ' + data);
      }
    })
    .catch(error => {
      console.error('Error: ', error.message);
      alert('인증번호 확인 중 문제가 발생했습니다.');
    });
  });

  // 모달 닫기
  document.querySelector('.close-button').addEventListener('click', function () {
    document.getElementById('emailAuthModal').style.display = 'none';
    document.getElementById("modalOverlay").style.display= 'none';
  });
</script>
</body>
</html>
