<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/style/reset.css}"/>
  <link rel="stylesheet" th:href="@{/style/common.css}"/>
  <link rel="stylesheet" th:href="@{/style/loading.css}"/>
  <link rel="stylesheet" th:href="@{/style/find-password.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
  <title>ManiToOne</title>
</head>
<body>
<section class="find-password-section">
  <div class="logo-box">
    <img th:src="@{/images/logo/long-logo.png}" alt="ManiToOne logo"/>
  </div>
  <p class="find-password-discription">
    아이디와 이름을 입력하면 임시 비밀번호를 전송합니다.
  </p>
  <div class="find-password-auth-container">
    <form id="find-password-form" th:action="@{/api/password-reset}" method="post">
      <div class="email-input-container">
        <input
            class="email-input"
            type="text"
            name="user-email"
            id="user-email"
            placeholder="이메일 입력"
            aria-label="이메일 입력"
            required
        />
        <div class="name-input-container">
          <input
              class="name-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="이름 입력"
              aria-label="이름 입력"
              required
          />
        </div>
        <button id="init-password-button" class="init-password-button">
          <span class="button-text">비밀번호 초기화하기</span>
          <span id="loading-spinner" class="loading-spinner" style="display: none;"></span>
        </button>
      </div>
    </form>
  </div>
</section>

<script>
  document.getElementById("find-password-form").addEventListener("submit", function (event) {
    event.preventDefault();

    const email = document.getElementById("user-email").value;
    const name = document.getElementById("user-name").value;

    const resetButton = document.getElementById("init-password-button");
    const buttonText = resetButton.querySelector('.button-text');
    const loadingSpinner = resetButton.querySelector('#loading-spinner');
    buttonText.style.display = 'none';
    loadingSpinner.style.display = 'inline-block';

    if (!email || !name) {
      alert("이메일과 이름을 모두 입력해 주세요.");
      return;
    }

    const requestData = {
      email: email,
      name: name
    };

    fetch('/api/password-reset', {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(requestData),
    })
    .then(response => {
      if (response.ok) {
        sessionStorage.setItem("resultEmail", requestData.email);
        return response.text();
      } else {
        return response.text().then(errorText => {
          throw new Error(errorText);
        });
      }
    })
    .then(message => {
      alert(message);
      window.location.href = "/password-reset-confirm";
    })
    .catch(error => {
      alert("비밀번호 초기화 실패: " + error.message);
    });
  });

</script>
</body>
</html>
