<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/style/reset.css}"/>
  <link rel="stylesheet" th:href="@{/style/common.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
  <title>ManiToOne</title>
</head>
<body>
<section class="find-password-section">
  <div class="logo-box">
    <img th:src="@{/images/logo/long-logo.png}" alt="ManiToOne logo"/>
  </div>
  <p class="find-password-discription"></p>
  <button class="move-to-sign-in-button">
    로그인 페이지로 이동하기
  </button>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const email = sessionStorage.getItem("resultEmail");
    if (email) {
      document.querySelector(
          ".find-password-discription").textContent = `${email}로 임시 비밀번호가 전송되었습니다.`;
    } else {
      document.querySelector(
          ".find-password-discription").textContent = "이메일 정보가 없습니다. 다시 시도해 주세요.";
    }
    sessionStorage.removeItem("resetEmail");
  });

  document.querySelector(".move-to-sign-in-button").addEventListener("click", function () {
    window.location.href = "/login";
  });
</script>
</body>
</html>
