<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/style/reset.css}"/>
  <link rel="stylesheet" th:href="@{/style/common.css}"/>
  <link rel="stylesheet" th:href="@{/style/oauth-login-failure.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
  <title>ManiToOne</title>
</head>
<body>
<section class="email-auth-section">
  <div class="logo-box">
    <img th:src="@{/images/logo/long-logo.png}" alt="ManiToOne logo"/>
  </div>

  <h2>접근이 거부되었습니다.</h2>
  <div id="sign-in-link-container">
    <p id="errorMessage" th:if="${session.errorMessage != null}" th:text="${session.errorMessage}"></p>
  </div>
  <div class="sign-in-link-container">
    <p class="sign-in-link"><a th:href="@{/login}">로그인 페이지로 돌아가기</a></p>
  </div>

  <script>
    const errorMessageElement = document.getElementById('errorMessage');
    if (errorMessageElement && errorMessageElement.textContent.trim() !== '') {
      alert(errorMessageElement.textContent);
    }
  </script>
</section>
</body>
</html>
